
<form method="POST" action="/figures">

<h2> Create A New Figure </h2>
  <p>Figure Name: <input type="text" name="figure[name]" id="figure_name"/></p>

<h3><u> Titles</u></h3>
  <% Title.all.each do |title| %>
    <input type="checkbox" name="figure[title_ids][]" id="title_<%= title.id %>" value="<%=title.id%>"/>
    <label for="title_ids"><%= title.name %></label>
  <br/>
    <% end %>
  <p>Missing Title? <input type="text" id="new_title" name="title[name]"></input></p>
<br/>

<h3><u> Landmarks</u> </h3>
  <% Landmark.all.each do |landmark| %>
    <input type="checkbox" name="figure[landmark_ids][]" id="landmark_<%= landmark.id %>" value="<%=landmark.id%>"/>
    <label for="landmark_ids"><%= landmark.name %></label>
  <br/>
    <% end %>
  <p>Missing Landmark? <input type="text" id="new_landmark" name="landmark[name]"></input></p>

  <p><input type="submit" value="submit" id="Create New Figure"/></p>
</form>
